<div class="container mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-3 border-top">
    <p class="col-md-4 mb-0 text-body-secondary fw-light">&copy; 2023 SJ. All rights reserved.</p>
    <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0" href="#">
      <i class="bi bi-c-circle-fill footer-logo"></i>
    </a>
    <p class="col-md-4 d-flex align-items-center justify-content-end mb-0 fw-light text-body-secondary">
      <a href="#" class="text-reset text-decoration-none"><i class="bi bi-caret-up-fill"></i> Back to top</a>
    </p>
  </footer>
</div>
